Hey, <%= @attendee.name %>!

Thanks for coming back to fill out another connection card.

Please click the link below to sign in and fill out your info for this week.

<%= attendee_weekly_info_url(ConnectionCard.Endpoint, :new, @attendee, token: @token) %>
