<h1>Hey, <%= @attendee.name %>!</h1>

<p>Thanks for coming back to fill out another connection card.</p>
<p>Please click the link below to sign in and fill out your info for this week.</p>
<%= link gettext("Connect with us"), to: attendee_url(ConnectionCard.Endpoint, :show, @attendee, token: @token) %>
