<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SMCC's Online Connection Card!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://use.fontawesome.com/82c93ec4ce.js"></script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if @conn.assigns[:current_user] do %>
              <li><%= link "Current Week", to: admin_weekly_info_path(@conn, :index) %></li>
              <li><%= link "Attendees", to: admin_attendee_path(@conn, :index) %></li>
            <% else %>
              <li><%= link "Admin Sign In", to: session_path(@conn, :new) %></li>
            <% end %>
          </ul>
          <ul class="nav nav-pills pull-left">
            <%= if @conn.assigns[:current_attendee] do %>
              <li>Welcome,<br /><%= @current_attendee.name %>!</li>
              <li><%= link "Connect", to: attendee_weekly_info_path(@conn, :index, @current_attendee.id), class: "btn btn-xs btn-default" %></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
