/* This file is for your main application css. */
.sidebar {
  background-color: #e5e5e5;
  height: 100%;
}

.divider {
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
}

.row-bottom-border {
  border-bottom: 1px solid #ccc;
}

.larger-text {
  font-size: 1.2em;
}

.normal-size {
  font-size: .9em;
}

.top-space {
  padding-top: 10px;
}

.row-striped:nth-of-type(odd) {
  background-color: #f5f5f5;
}
.row-striped:nth-of-type(even) {
  background-color: #dcdcdc;
}

h2 {
  padding: 0px 0px 11px 6px;
  line-height: 1.33;
  margin: 0;
}
