/* This file is for your main application css. */
.sidebar {
  background-color: #e5e5e5;
  height: 100%;
}

.divider {
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
}

.row-bottom-border {
  border-bottom: 1px solid #ccc;
}

.larger-text {
  font-size: 1.2em;
}

.normal-size {
  font-size: .9em;
}
